.container{
    display: flex;
    flex-direction:row ;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: aqua;
}
.item{
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 20%;
    background-color: lightblue;
    padding: 10px;
    margin: 10px;
    font-size: 40px;
    text-align: center;
}
@media (max-width: 600px) {
  .flex-container {
    flex-direction: column;
  }
}