.container{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap:10px; 
    background-color: blueviolet;
}
.item{
    background-color: lightblue;
    padding: 10px;
    margin: 10px;
    text-align: center;
}